<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-native-storage" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>NativeStorage</name><js-module name="NativeStorage" src="www/NativeStorage.js"><clobbers target="NativeStorage" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="NativeStorage"><param name="android-package" value="org.apache.cordova.storage.NativeStorage" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/NativeStorage.java" target-dir="src/org/apache/cordova/storage" /><source-file src="src/android/SPUtils.java" target-dir="src/org/apache/cordova/storage" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="NativeStorage"><param name="ios-package" value="NativeStorage" /></feature></config-file><source-file src="src/ios/NativeStorage.m" /></platform></plugin>